examples/nyu/nyuv2/
examples/nyu/__pycache__/
LibMTL/__pycache__
LibMTL/architecture/__pycache__
LibMTL/weighting/__pycache__
LibMTL/model/__pycache__/
LibMTL.egg-info/
*.zip
*.png
*.log
*.pt
examples/cityscapes/
examples/office/
examples/xtreme/
LibMTL/architecture/CGC.py
LibMTL/architecture/Cross_stitch.py
LibMTL/architecture/LTB.py
LibMTL/architecture/MTL.py
LibMTL/architecture/MMoE.py
LibMTL/architecture/MTAN.py
LibMTL/architecture/PLE.py



